html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  height: 400px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,255,0.5);
}
th,
td {
  padding: 15px;
  /*background-color: darkgoldenrod;*/
  background-color: rgba(0, 0, 0, 0.5);
  color: #e5c2ba;
}
th {
  text-align: left;
  color: #e0f3e5;
  font-size: large;
}
thead th {
  background-color: #758153;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
  text-align: center;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgb(5, 52, 49);
  z-index: -1;
}

.button-one {
  /*padding:20px 60px;*/
  outline: none;
  background-color: #b5953b;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
  align-content: center;
  width: 70px;
  height: 30px;
}

.button-one:hover{
  background-color: #725a1e;
}

.button-one:active {
  background-color: #424313;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
.input-one{
  width: 210px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 15px 12px 30px;
  transition: width 0.4s ease-in-out;
}
